/* Your code goes here */
.vcenter {
    display: flex;
    height: 150px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}
.vcenter > p {
    background-color: brown;
    margin: 0;
}
nav {
    width: 400px;
}
li {
    flex-basis: 25%;
}